name: Publish Release

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write  # Required to create GitHub releases

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --release

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          target_commitish: ${{ github.sha }}
          files: target/release/orexis.dll
          make_latest: true
